

.container {
    width: 80%;
    margin: 0 auto;
    
}

header {
    background: violet;
}

header::after{
    content: "";
    display: table;
    clear: both;
}



h1 {
    float: left;
}

nav {
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 90px;
    padding-top: 35px;
    position: relative;
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}

nav a:hover{
    color: blueviolet;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: blueviolet;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

