

.container {
    width: 80%;
    margin: 0 auto;
    
}

.pictures {
    margin : 0;
    width: 100%;
    
}

.pictures ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pictures li {
    left: 100px;
    display: inline-block;
    margin-left: 100px;
    position: relative;
}

.pictures2 {
    margin : 0;
    width: 100%;
    
}

.pictures2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pictures2 li {
    left: 100px;
    display: inline-block;
    margin-left: 100px;
    position: relative;
    padding-top: 50px;
    
}

header {
    background: violet;
}

header::after{
    content: "";
    display: table;
    clear: both;
}



h1 {
    float: left;
}

nav {
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 90px;
    padding-top: 35px;
    position: relative;
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}

nav a:hover{
    color: blueviolet;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: blueviolet;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}


.name ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.name li {
    color: blueviolet;
    left: 100px;
    display: inline-block;
    margin-left: 75px;
    position: relative;
}

.name2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.name2 li {
    color: blueviolet;
    left: 100px;
    display: inline-block;
    margin-left: 80px;
    position: relative;
}

.paragraph {
    width: 50%;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 20px;
}

.pic {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid blueviolet;
    border-radius: 10px;
    z-index: 10;
    background-color: cadetblue;
    width: 625px;
    max-width: 80%;
}

.pic.active {
    transform: translate(-50%, -50%) scale(1);
}

.pic-header {
    padding: 10px 15 px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid blueviolet;
}

.pic-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.pic-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.pic-decscription {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

.zodiac{
    background-color: rgb(29, 28, 28);
    border: none;
    cursor: pointer;
}

.WAT{
    font-size: 1.25rem;
    width:80%;
}



.firstDate {
    font-size: 1.25rem;
    color: white;
    float: left;
    margin-top: 100px;
    margin-left: 150px;
    position: relative;
    max-width: 20%;
}

.lovepic{
    float:right;
    max-width: 40%;
}

.lovepic img{
    margin-right: 100px;
    margin-top: 10px;
}

#loveluck {
    font-size: 1.25rem;         
    color: white;
    border:1px solid blueviolet;
    border-radius: 10px;
    width: 500px;
    max-width: 40%;
    height: 800px;
    margin-right: 100px;
    margin-top: 10px; 
    float: right;
    padding: 10px 15px;
}

#loveluck-header{
    border-bottom: 1px solid blueviolet;
}

.dateHeader{
    font-size: 1.25rem;
    border: 1px solid blueviolet;
    border-radius: 10px;
    width: 1800px;
    max-width: 80%;
    height: 150px;
    margin-top: 20px;
    color:white;
}

#right{
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

#left{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
